.tile {
    width: 100px;
    height: 80px;   
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    transition: 0.6s ease-in-out;
}

.tile:hover{
transition: 0.6s ease-in-out;
}

footer{
    height: 100px;
}
#details{
    padding: 10px;
    margin:10px;
}

#details{
    padding: 10px;
    margin:10px;
}

