body{
  background-color: #0D324D;
}


p{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
  margin-top: 20px;
}

.tileinput{
  border: 3px solid grey;
  border-radius: 5px;
  height: 40px;
  width: 250px;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  padding-left: 5px;
}

button{
  height: 41px;
  width: 80px;
  font-size: 2.5rem;
  font-weight: bolder;
  border: 3px solid grey;
  border-radius: 5px;
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  position: relative;
  top: 2px;
  transition: 0.6s ease-in-out;
}

button:hover{
  transition: 0.6s ease-in-out;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(0,212,255,1) 100%);
  color: white;
}


.tile {
    width: 100px;
    height: 80px;
    padding: 10px;
    border: 2px solid white;
    display: inline-block;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    margin-right: 5px;
}

.tile:hover{
    transition: 0.6s ease-in-out;
}

footer{
    height: 100px;
}
#details{
    padding: 10px;
    margin:10px;
}

#details{
    padding: 10px;
    margin:10px;
}
